# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Test
coverage
*.lcov

# Env
.env
.env.local
.env.*.local

# Cache
.eslintcache
.stylelintcache
*.tsbuildinfo

# Misc
*.sw?
*.bak
